.all{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book{
    display: flex;
    height: auto;
    width: 70rem;
    flex-wrap: wrap;
    gap: 11px;
    margin: 10px;
    padding: 10px;
    
   
    background-color: yellow;
}

.bookCover{
    height: 15rem;
    width: 12.2rem;
    display: flex;
    align-items: center;
    background-color: red;
    border: 10px solid black;
}

.bookCover > div{
    height: 30%;
    width: 100%;
    background-color: blue;
}