
.book{
    display: flex;
    height: auto;
    width: 70rem;
    flex-wrap: wrap;
    gap: 11px;
    margin: 10px;
    padding: 10px;
    
   
    background-color: yellow;
}


.bookBase{
    height: 15rem;
    width: 12.2rem;
    display: flex;
   flex-direction: column;
    background-color: red;
    border: 10px solid black;
}

.bookCover{
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
}

.bookCover > div{
    height: 30%;
    width: 100%;
    background-color: blue;
}

.deleteButton{
    background-color: crimson;
    font-weight: bolder;
    
}

.deleteButton:hover{
    background-color: red;
} 

.textDiv{
    height: 25%;
    width: 100%;
   
}